block content
	each page in pages
		button
			p= page.authors
			p= page.sideImages
			p= page.mainImages
			p= page.title
			p= page.coverPhoto
			p= page.coverCaption
			p= page.subheading
			p= page.mainImageCaptions
			p= page.sideImageCaptions
			p= page.quotes
			p= page.quoteMakers
			p= page.paragraphs
			p= page.id
		a(href='/update/{ page.id }.html') page.id Update
		br